<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <title>Email OTP</title>
    <style>
        #background{
            margin: 0;
            padding: 0;
            background-image: url({{url_for('static',filename='image/7.png')}}); /* Replace 'your-image.jpg' with the path to your image */
            background-size: cover; /* Cover the entire viewport */
            background-attachment: fixed; /* Fix the background image */
            background-repeat: no-repeat; /* Do not repeat the background image */
            height: 100vh; /* Set the height to 100% of the viewport */
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container-fluid d-flex align-items-center justify-content-center" id="background" style="min-height: 100vh;">
        <div class="card" style="background: none;width: 450px">
              <div class="card-body" style="background: rgba(255, 255, 255, 0.9);">
                  <h3 class="text-center mt-2"><a href="/home" class="card-title" style="text-decoration: none; font-weight: bold; font-family: 'Lobster', cursive;">Image Segmentation</a></h3>
                  <form class="form-group" action="/emailVerificationForForgotPassword" name="emailForForgotPassword" method="post">
                    <div class="row mt-4">
                        <div class="col">
                            <p style="color: ; text-align:center;">Enter your email and we'll send you a OTP to reset your password.</p>
                            <span style="color: red;" id="emailIDErr"></span>
                            <input type="email" name="email" id="emailID" class="form-control p-2" placeholder="Email">
                        </div>
                    </div>
                      {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                      {% endwith %}
                      <input type="submit" class="form-control btn mt-4" style="background-color: #141E30; color: white;" onmouseover="this.style.backgroundColor='#243B55'" onmouseout="this.style.backgroundColor='#141E30'" value="Send OTP">
                  </form>

                  <div class="row mt-4">
                       <div class="col text-center">
                           <p>OR</p>
                       </div>
                  </div>

                  <div class="row">
                        <div class="col text-center">
                            <a href="/registration" style="text-decoration: none; color: #141E30;" onmouseover="this.style.color='#243B55'" onmouseout="this.style.color='#141E30'">Create new account</a>
                        </div>
                  </div>

                  <div class="row">
                        <div class="col text-center">
                            <hr>
                        </div>
                  </div>

                  <div class="row mb-2">
                        <div class="col text-center">
                            <a href="/" style="text-decoration: none; color: #141E30;" onmouseover="this.style.color='#243B55'" onmouseout="this.style.color='#141E30'">Back to login</a>
                        </div>
                  </div>

            </div>
        </div>
    </div>

    <!--script type="text/javascript">
    $(document).ready(function(){
        $('#emailID').keyup(function(){
            var emailID=$('#emailID').val();
            if (emailID === "")
            {
                $('#emailIDErr').html('Email is required');
                return false;
            }
            else
            {
                if(emailID.length<=6 || emailID>30)
                {
                    $('#emailIDErr').html('');
                    return false;
                }
                else if(!/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/.test(document.emailForForgotPassword.emailID.value))
                {
                    $('#emailIDErr').html('Email is uncompleted');
                    return false;
                }
                else
                {
                    $('#emailIDErr').html('');
                    return false;
                }
            }
        });
    });
    </script-->
    </body>
</html>