<nav class="navbar bg-nav fixed-top text-light d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-nav">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/home">Image Segmentation</a>
    <div class="d-flex input-group w-auto">
      <a class="p-2 text-light text-decoration-none" href="/home">Home</a>
      <a class="p-2 text-light text-decoration-none" href="/myPhotos">My Photos</a>
      <a class="p-2 text-light text-decoration-none" href="/profile">Profile</a>
      <a class="p-2 btn btn-warning" href="/logout">Logout</a>
    </div>
  </div>
</nav>
